<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mapper.PlatformPropertyKeyMapper">
    <resultMap id="platformPropertyMap" type="com.atguigu.entity.PlatformPropertyKey" autoMapping="true">
        <id property="id" column="id"></id>
        <collection property="propertyValueList" ofType="com.atguigu.entity.PlatformPropertyValue" autoMapping="true">
            <id property="id" column="property_value_id"></id>
        </collection>
    </resultMap>

    <select id="getPlatformPropertyByCategoryId" resultMap="platformPropertyMap">
        SELECT
            a.id,
            a.property_key,
            a.category_id,
            a.category_level,
            b.id property_value_id,
            b.property_value,
            b.property_key_id
        FROM
            platform_property_key a
            INNER JOIN platform_property_value b ON a.id = b.property_key_id
        WHERE
            ( a.category_id = 2 AND a.category_level = 1 )
            OR ( a.category_id = 13 AND a.category_level = 2 )
            OR ( a.category_id = 61 AND a.category_level = 3 )
    </select>
    <select id="getPlatformBySkuId" resultMap="platformPropertyMap"
            parameterType="java.lang.Long">
        SELECT
        	pk.id,
        	pk.property_key,
        	pk.category_id,
        	pk.category_level,
        	pv.id property_value_id,
        	pv.property_value,
        	pv.property_key_id
        FROM
        	platform_property_key pk
        	INNER JOIN platform_property_value pv ON pk.id = pv.property_key_id
        	INNER JOIN sku_platform_property_value kv ON kv.property_value_id = pv.id
        WHERE
        	kv.sku_id = #{skuId}

    </select>
</mapper>
